.footer-box{
    
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
    height: 150px;
}

hr{
    height: 3px;
    background: #4b9c5d;
    align-self: center;
    /* outline: none; */
}


@media (max-width: 480px) {
    .signup-container {
        min-height: calc(100vh - 150px);
    }

    .signup-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .signup-form {
        width: 90%; /* Adjust form width for smaller screens */
        max-width: 350px;
    }
}