.box{
    background-color: rgb(247, 243, 243);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    

    


}

.inner-box{
    background: rgb(240, 240, 222);
    /* height: 75vh; */
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 10px 10px 10px 5px rgb(75, 71, 71);
    border-radius: 10px;
}

.image-box img{
    /* height: 65vh; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25vw;
    height: 350px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    

}

.lower-box{
    padding-top: 20px;
    width: 60vw;
    
}
.item-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.item-details p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 550;
    font-style: italic;
    font-variant: small-caps;
}

@media (max-width: 480px) {
    .inner-box{
        width: 75vw;
    }
    .image-box img{
        width: 65vw;
    }
    
}